<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
	http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

<!-- 扫描cn -->
    <context:component-scan base-package="cn">
        <!-- spring是bean的容器（spring用来操做 service+repository）controler是springmvc操作的 所以排除-->
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    </context:component-scan>

    <!-- 扫描jdbc文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <!--
    所有数据库操作的源头 实现自接口DataSouce DriverManagerDataSource
     还有很多连接池继承DataSouce DriverManagerDataSource 实现了很多子连接池 比如c3p0 dbcp druid
     这里我们就用阿里的druid，因为这个连接池有一个监控功能
    -->
    <!-- 连接数据库 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${url}"></property>
        <property name="driverClassName" value="${driverClass}"></property>
        <property name="username" value="${username1}"></property>
        <property name="password" value="${password1}"></property>
        <!-- 默认初始化的连接个数 -->
        <property name="initialSize" value="1"></property>
        <!-- 最大允许的连接个数 -->
        <property name="maxActive" value="200"></property>
        <!-- 最大的等待人数 -->
        <property name="maxIdle" value="100"></property>
        <!-- 开启sql统计功能 -->
        <property name="filters" value="stat"></property>
    </bean>

    <!-- 集成mybatis -->
    <!-- 实例化一个SqlSessionFactory工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--通过SqlSessionFactory 实例化一个Session-->
    <bean id="sessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
    </bean>

    <!-- 扫描mybatis的接口映射文件  -->
    <bean id="scannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.et.mapper"></property>
    </bean>


    <!-- 事务管理器  不再使用jdbc的commit和rollback 必须由事务管理器提供 配置事物管理器必须要注入dataSource-->
    <bean id="tm"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- 定义事物里面的通知-->
    <tx:advice id="txAdvise" transaction-manager="tm">
        <tx:attributes>
            <!--tx:method的作用是拦截指定方法开头的 然后对他进行事物处理 -->
            <tx:method name="insert*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <!--read-only="true" 意思是除了上面拦截的以外  其他的都不拦截-->
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <!-- 定义切点(搜索条件) aop:pointcut 意思相当于跟if差不多 满足条件的就会进来
      表示式   execution(返回值  包.类.方法(参数 ...代表任意多个参数))
      id 表示切点的名字
   -->
        <aop:pointcut expression="execution(* cn.et.service.*.*(..))" id="myPointCut" />
        <!-- 关联切点和事务管理器 将事物跟切点连接起来-->
        <aop:advisor advice-ref="txAdvise" pointcut-ref="myPointCut" />
    </aop:config>
</beans>